{% extends "dashboard/base.html" %}
{% load i18n %}
{% load prices_i18n %}
{% load materializecss %}
{% load staticfiles %}
{% load utils %}

{% block title %}
  {% trans "Bucket information" %} - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li>
      <span class="breadcrumbs--ellipsed-item">
        {% trans "Storage" %}
      </span>
    </li>
    <li>
      <span class="breadcrumbs--ellipsed-item text-capitalize">
        {% blocktrans trimmed %}
          {{ bucket_name }} bucket
        {% endblocktrans %}
      </span>
    </li>
  </ul>
{% endblock %}

{% block content %}
  {% with title=_("Missing Files") files=missing_files empty_message=_("No missing files found.") %}
    {% include 'dashboard/storage/_bucket_files_table.html' %}
  {% endwith %}

  {% with title=_("Files to be removed") files=to_remove_files empty_message=_("No files to remove found.") %}
    {% include 'dashboard/storage/_bucket_files_table.html' %}
  {% endwith %}

  <div class="row">
    <form method="POST" class="center">
      {% csrf_token %}
        <input
          type="submit"
          class="btn full-width"
          value="{% trans "sync" %}"

          {% if not missing_files and not to_remove_files %}
            disabled
          {% endif %} />
    </form>
  </div>
{% endblock %}
