{% extends 'dashboard/base.html' %}
{% load i18n %}
{% load materializecss %}
{% load staticfiles %}
{% load product_first_image from product_images %}

{% block title %}
  {% trans "Create Order" context "Dashboard create order" %} - {{ block.super }}
{% endblock %}

{% block body_class %}body-create-order{% endblock %}

{% block menu_orders_class %}active{% endblock %}

{% block header_menu %}
  {% url "dashboard:orders" as url %}
  {% include "dashboard/includes/_back_link.html" with url=url %}
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li>
      <a href="{% url "dashboard:orders" %}">
        {% trans "Orders" context "Dashboard orders list" %}
      </a>
    </li>
    <li class="back-mobile">
      <a href="{% url "dashboard:orders" %}">
        <svg data-src="{% static "dashboard/images/arrow-left.svg" %}" fill="#fff" width="20px" height="20px" />
      </a>
    </li>
    <li>
      <a href="{% url "dashboard:create-order" %}">
        {% trans "Create Order" context "Dashboard create order breadcrumbs" %}
      </a>
    </li>
    <li>
      <span>
        {% if customer %}
          <label>
            <input type="hidden" id="_customer_id" value="{{ customer.pk }}" />
          </label>
          {{ customer.email }}

          {% with default_address=customer.default_billing_address %}
            {% if default_address %}
              ({{ default_address.full_name }})
            {% endif %}
          {% endwith %}
        {% else %}
          {% trans 'Anonymous Customer' %}
        {% endif %}
      </span>
    </li>
  </ul>
{% endblock %}

{% block content %}
  <form class="row wait-angular" ng-app="createOrderForm" ng-controller="productList">
    <div class="angular-loading-overlay"></div>
    <div class="row tab-content" id="order-products"
         json-url="{% url 'dashboard:get-products-json' %}" submit-url="{% url 'dashboard:submit-order' %}">
      <div class="row" ng-if="errors.length > 0">
        <div class="col s12 small">
            <div class="card-title">
              <h3>Errors:</h3>
            </div>
            <ul ng-repeat="error in errors">
              <li>[[ error ]]</li>
            </ul>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m8">
          <div class="card">
            <div class="card-content">
              {% csrf_token %}
              <span class="small right">[[ filteredProducts.length || '~' ]]</span>
              <div class="card-title">
                <p>
                  {% trans 'Products' %}
                  <span ng-if="category_name">
                    &mdash; [[category_name]]
                  </span>
                </p>
                <label class="input-field">
                  <input ng-model="productTitleModel" filter-field="product__title" type="text" placeholder="{% trans 'Title' %}" />
                </label>
              </div>

              <div class="body-create-order__product-list">
                <div class="body-create-order__product-container">
                  <div class="row">
                    <div ng-hide="filteredProducts.length" class="center-align big">
                      <div class="row">
                        <p class="grey-text">{% trans 'No product to show.' %}</p>
                        <p><span class="light-grey-text">{% trans 'Please select a category with products.' %}</span></p>
                      </div>
                      <svg data-src="{% static "images/no-results-bg.svg" %}" width="360" height="360"/>
                    </div>
                    <div
                        ng-repeat="product in filteredProducts = (products | filter: {category: category_id} | filter: {name: productTitleModel})"
                        class="col s12 m4 l3" ng-if="product.category == category_id"
                    >
                      <div class="card">
                        <a ng-href="[[ product.url ]]" target="_blank" class="img-container">
                          <div class="img-overlay"></div>
                          <img src="{% static 'images/placeholder540x540.png' %}" ng-src="[[ product.product_images[0] ]]" class="responsive-img" />
                        </a>

                        <div class="card-content">
                          <div class="card-title">
                            [[ product.name ]]
                          </div>

                          <div class="table-toggle">
                            <span ng-click="show=!show" is-toggled="[[show]]"></span>
                          </div>

                          <table ng-show="show">
                            <tr ng-repeat="( attribute, value ) in product.product_attributes">
                              <td>[[ attribute ]]</td>
                              <td><strong>[[ value.name || value ]]</strong></td>
                            </tr>
                          </table>
                        </div>

                        <div class="card-action">
                          <div class="small">
{#                            TODO: click selects the variant/ show pic#}
                            <div ng-repeat="variant in product.variants" class="product-entry">
                              <span>[[ variant.sku ]] — [[ variant.unit_price ]]€ </span>
                              <label>
                                <span class="right help-cursor" title="{% trans 'in stock' %}">[[ variant.in_stock ]]</span>
                                <input type="number" min="0" ng-min="0" value="0" class="right"
                                       ng-model="variant.in_cart" ng-init="variant.in_cart = 0" />
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="row">
            <div class="card">
              <div class="card-content">
                <div class="card-title">
                  {% trans 'Filters' context 'Order creation products filters' %}
                </div>

                <label class="input-field">
                  {% trans 'Category' %}
                  {{ filters.category }}
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="card">
              <div class="card-content">
                <div ng-if="discount.value && discount.discount" class="right small">
                  -[[ discount.value ]] [[ discount.type === 'fixed' ? '€' : '%' ]]
                </div>

                <div class="card-title">
                  {% trans 'In cart' context 'Order creation products filters' %}
                </div>

                <ul ng-repeat="product in products">
                  [[ $first ? resetCartTotal() : '' ]]
                  <li ng-repeat="variant in product.variants | filter: greaterThan('in_cart', 0)">
                    [[ variant.in_cart ]] x [[ variant.sku ]],
                    [[ getPrice(variant, variant) ]]€
                  </li>
                </ul>
              </div>

              <div class="card-action center-align big" title="[[ getDiscount(getCartTotal()) ]]">
                [[ getCartTotal() ]] €
              </div>

              <div class="card-action discounts center-align big">
                <div class="row ">
                  <div class="col s6">
                    <label class="active" for="id_discount">{% trans 'Discount' %}</label>
                    <div>
                      <input name="discount" id="id_discount"
                             ng-pattern="/^\d+(\.\d{1,2})?$/" ng-model="discount.value"/>
                    </div>
                  </div>
                  <div class="col s6">
                    <label for="id_discount_type">{% trans 'Discount Type' %}</label>
                    <select
                            name="discount_type" class="select2-hidden-accessible" id="id_discount_type"
                            ng-model="discount.type">
                      <option value="fixed" selected>EUR</option>
                      <option value="percentage">%</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="card-action center-align big">
                <strong>[[ discount.discountedTotal ]] €</strong>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="card">
              <div class="card-content">
                <label for="id_note">
                  {% trans 'Notes (optional)' %}
                </label>
                <textarea id="id_note" class="materialize-textarea " name="note"></textarea>
              </div>
            </div>
          </div>

          {% if customer and customer.notes %}
            <div class="row">
              <div class="card">
                <div class="card-content">
                  <div class="card-title">
                    {% trans "Notes about the customer" context "Order creation form, notes about the customer title" %}
                  </div>
                  <span class="materialize-red-text big">
                    {{ customer.notes|safe }}
                  </span>
                </div>
              </div>
            </div>
          {% endif %}

          <div class="row">
            <button class="btn waves-effect col s12" ng-click="submitForm()" type="button">{% trans 'Submit' %}</button>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
