{% extends 'dashboard/base.html' %}
{% load i18n %}
{% load materializecss %}
{% load staticfiles %}
{% load product_first_image from product_images %}

{% block title %}
  {% trans "Create Order" context "Dashboard create order" %} - {{ block.super }}
{% endblock %}

{% block body_class %}body-create-order{% endblock %}

{% block menu_orders_class %}active{% endblock %}

{% block header_menu %}
  {% url "dashboard:orders" as url %}
  {% include "dashboard/includes/_back_link.html" with url=url %}
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li>
      <a href="{% url "dashboard:orders" %}">
        {% trans "Orders" context "Dashboard orders list" %}
      </a>
    </li>
    <li class="back-mobile">
      <a href="{% url "dashboard:orders" %}">
        <svg data-src="{% static "dashboard/images/arrow-left.svg" %}" fill="#fff" width="20px" height="20px" />
      </a>
    </li>
    <li>
      <a href="{% url "dashboard:create-order" %}">
        {% trans "Create Order" context "Dashboard create order breadcrumbs" %}
      </a>
    </li>
    <li>
      <span>
        {{ customer.email }}

        {% with default_address=customer.default_billing_address %}
          {% if default_address %}
            ({{ default_address.full_name }})
          {% endif %}
        {% endwith %}
      </span>
    </li>
  </ul>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12">
      <ul class="tabs" role="tablist">
        <li role="presentation" class="tab col s4">
          <a href="#order-products" role="tab" class="active">
            <span>
              {% trans "Products" context "Order creation tab" %}
            </span>
            <svg data-src="{% static "dashboard/images/description.svg" %}" class="fill-secondary" />
          </a>
        </li>
        <li role="presentation" class="tab col s4">
          <a href="#order-addresses" role="tab">
            <span>
              {% trans "Shipping & Billing" context "Order creation tab" %}
            </span>
            <svg data-src="{% static "dashboard/images/payment.svg" %}" class="fill-secondary" />
          </a>
        </li>
        <li role="presentation" class="tab col s4">
          <a href="#order-summary" role="tab">
            <span>
              {% trans "Summary" context "Order creation tab" %}
            </span>
            <svg data-src="{% static "dashboard/images/description.svg" %}" class="fill-secondary" />
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="row tab-content" id="order-products">
      <div class="row" ng-app="createOrderForm" ng-controller="productList">
        <div class="col s12 m8">
          <div class="card">
            <div class="card-content">
              <div class="card-title">
                <p>
                  {% trans 'Products' %}
                  <span ng-if="selected_category.category_name">
                    &mdash; [[selected_category.category_name]]
                  </span>
                </p>
                <label class="input-field">
                  <input ng-model="productTitleModel" filter-field="product__title" type="text" placeholder="{% trans 'Title' %}" />
                </label>
              </div>

              <div class="body-create-order__product-list">
                <div class="body-create-order__product-container">
                  <div class="row">
                    <div
                        ng-repeat="product in products | filter: {category_id: category_id} | filter: {name: productTitleModel, sku: productSKUModel}"
                        class="col s12 m4 l3"
                    >
                      <div class="card">
                        <a href="{{ product.get_absolute_url }}" target="_blank" class="img-container">
                          <div class="img-overlay"></div>
                          <img src="{% product_first_image product size="510x510" method="fit" %}" class="responsive-img"/>
                        </a>

                        <div class="card-content">
                          <div class="card-title">
                            [[ product.name ]]
                          </div>

                          <div class="table-toggle">
                            <span ng-click="show=!show" is-toggled="[[show]]"></span>
                          </div>

                          <table ng-show="show">
                            {% for attribute, value in product_attributes.items %}
                              <tr>
                                <td>{{ attribute }}</td>
                                <td><strong>{{ value }}</strong></td>
                              </tr>
                            {% endfor %}
                          </table>
                        </div>

                        <div class="card-action center-align">
                          <div class="small">
{#                            TODO: click selects the variant/ show pic#}
                            {% for variant in product.variants.all %}
                              <div class="product-entry">
                                <span>{{ variant.sku }} — €21</span>
                                <label>
                                  <input type="number" value="0"/>
                                </label>
                              </div>
                            {% endfor %}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="row">
            <div class="card">
              <div class="card-content">
                <div class="card-title">
                  {% trans 'Filters' context 'Order creation products filters' %}
                </div>

                <label class="input-field">
                  {% trans 'SKU' %}
                  <input filter-field="product__title" type="text" ng-model="productSKUModel" />
                </label>

                <label class="input-field">
                  {% trans 'Category' %}
                  {{ filters.category }}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row tab-content" id="order-addresses">
      <div class="row">
        <div class="col s12 m8">
          <p>order-addresses</p>
        </div>
      </div>
    </div>

    <div class="row tab-content" id="order-summary">
      {% if customer.notes %}
        <div class="row">
          <div class="col s12">
            <div class="card">
              <div class="card-content">
                <div class="card-title">
                  {% trans "Notes about the customer" context "Order creation form, notes about the customer title" %}
                </div>
                <span class="materialize-red-text big">
                  {{ customer.notes|safe }}
                </span>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      <div class="row">
        <div class="col s12 m8">
          <form class="card" method="post">
            <div class="card-content">
              <div class="card-title">
                {% trans 'Order Creation' context 'Order creation form title' %}
              </div>
              <div class="data">
                {% csrf_token %}
                <div class="row">
                  {{ form.shipping_address|materializecss }}
                </div>
                <div class="row">
                  {{ form.billing_address|materializecss }}
                </div>
                <div class="row">
                  {{ form.shipping_method|materializecss }}
                </div>
                <div class="row">
                </div>
                <div class="row bottom-aligned">
                  <div class="col s12 m8">
                    {{ form.note|materializecss }}
                  </div>
                  <div class="col s2">
                    {{ form.discount|materializecss }}
                  </div>
                  <div class="col s2">
                    {{ form.discount_type|materializecss }}
                  </div>
                </div>
              </div>
            </div>
            <div class="card-action right-align">
              <button type="submit" class="btn waves-effect">
                {% trans 'Next' context 'Order creation, customer selection step, confirm selection action' %}
              </button>
            </div>
          </form>
        </div>
        <div class="col s12 m4">
          <div class="data-table-container">
            <table class="bordered highlight responsive data-table">
              <thead>
                <tr>
                  <th>Hello</th>
                  <th>world</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
