#cookie_prompter {
  background-color: rgb(17, 17, 17);
  z-index: 999;
  position: fixed;
  padding: 10px 0;
  width: 100%;
  left: 0;
  color: rgb(255, 255, 255);
  box-shadow: rgb(0, 0, 0) 0 0 8px;
  bottom: 0;
  text-align: center;
  display: none;
}
