.body-orders {
  .order-notes {
    .list-item {
      margin-bottom: 1rem;
    }
  }
}

.body-create-order {
  #order-products {
    .card:first-child {
      .card-title {
        display: flex;
        flex-direction: column;
        align-items: center;

        label {
          flex-grow: 1;
          width: 100%;

          [type='text'] {
            border-bottom: 1px dashed #bbb;
            color: #111;
            &::placeholder {
              color: #111;
            }
          }
        }
      }
    }
  }

  &__product {
    &-container {
      .col {
        .card {
          .card-content {
            position: relative;

            .card-title {
              font-size: 1.5rem;
            }

            // TODO: replace by JS toggle
            table {
              display: block;
              //max-height: 100px;
              overflow-y: hidden;

              &:hover {
                //max-height: 100%;
              }
            }
          }

          .table-toggle {
            width: 100%;
            position: relative;
            background: $input-background;
            text-align: center;
            padding-bottom: 1rem;

            span {
              &[is-toggled="true"]:before {
                content: '-';
              }
              &:before {
                line-height: 1.4rem;
                font-size: 1rem;
                content: '+';
                cursor: pointer;
                color: darken($grey-color, 20);
                background: lighten($grey-color, 20);
                padding: .3rem;
                height: 2rem;
                width: 2rem;
                border-radius: 100%;
                display: inline-block;
              }
            }
          }

          .img-container {
            display: block;
            position: relative;

            img {
              transition: transform .4s, border-radius 2s;
              z-index: 2;
              &:hover {
                transform: scale(1.4);
                border-radius: 2rem;
              }
            }
          }

          .card-action {
            .product-entry {
              display: flex;
              align-items: baseline;
              > span {
                flex-grow: 1;
              }
              input {
                max-width: 60px;
                border: 0;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}
